{% extends "base.html" %}

{% block title %}Блог{% endblock %}

{% block content %}
<h1 class="text 3x1 font-bold mb-4">Blog</h1>
<p>Якщо ви добралися до цієї сторінки, то красавчики</p>
<hr />
<div class="grid grid-cols-3 gap-7 mt-6">
    {% for post in all_posts %}
    <div class="card w-100 bg-base-500 shadow-xl transition-all duration-300 hover:shadow-2xl">
        <a href="{% url "blog:detail" post.id %}">
            <figure><img src="{% if not post.image %}
                https://tse4.mm.bing.net/th?id=OIP.NWe1ukHFnr2Q-6TuX_Xw4wHaE8&pid=Api&P=0&h=180
                {% else %}
                https://tse4.mm.bing.net/th?id=OIP.NWe1ukHFnr2Q-6TuX_Xw4wHaE8&pid=Api&P=0&h=180
                {% endif %} "alt="Shoes" class="w-full max-h-96"/></figure>
            <div class="card-body">
                <h2 class="card-title">{{post.title}}</h2>
                <div class="card-actions justify-end"></div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}